
<%- include("partials/header"); -%>

<h1>Home</h1>
<p> <%= homecontent %> </p>

<%# modified for loop %>
  <% newPosts.forEach(function(post){  %>
        <h1><%=post.title%></h1>
        <p><%=post.description.substring(0,150)%>...
          <a href="/posts/<%=post.title%>">Read More</a>
        </p>
  <% }) %>


<%- include("partials/footer"); -%>
